// config.jsの実例、CONFIGのプロパティとして設定を定義してください。
const CONFIG = {
  // BCDice-API サーバのURL
  api_url: 'http://www2.taruki.com/bcdice-api/',
  // URL入力欄をロックするか（api_urlでURLが指定されている場合のみ有効）
  lock_url_input: true,
  // Botに「～をプレイ中」を表示、複数チャンネルで違うシステムをプレイしている場合ダイスを振るたびに表示が変わります
  show_game_name: true,
  // 複数回ロールの最大数（デフォルト10）
  multiple_max: 8,
  // コマンドを'bcdice'から変更
  command_string: 'bcd',
  // ダイスコマンドの全角半角変換後、APIに送る前に行う処理を定義できる
  pre_process: function(command, infos) {
    // gameTypeがエースキラージーン等の場合、ダイスのデフォルトをD10にする
    if (/(AceKillerGene|CodeLayerd|DoubleCross|GardenOrder)/i.test(infos.gameType)) {
      command = command.replace(/(^|\b|S)(\d+D)(D|K|[^\d\w]|$)/gi, "$1$210$3");
    }
    return command;
  },
  // APIからの結果を表示する前に行う処理を定義できる
  post_process: function(result, infos) {
    // コメントに「命中判定」「攻撃」「Attack」を含む場合、結果の「成功」を「命中！」に置き換える
    if (/(命中判定|攻撃|Attack)/i.test(infos.comment)) {
      result = result.replace(/成功/, '命中！');
    }
    // どどんとふ風
    return result.replace(/＞/g, '→');
  },
};